.findout{
    font-size: 18px;
    font-weight: 400;
    font-family: "Google Sans", Arial, sans-serif;
    line-height: 22px;
    background-color: #F1A501;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px 25px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s,
    color 0.3s;
}
.findout:hover {
    background-color: #FFC850; 
    color: white; 
}
.findout:active {
 background-color: hsl(41, 83%, 79%);
 color: black;
}
.demo{
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 22px;
    background-color: transparent;
    color: #686D77;
    border: 1px ;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap; 
    transition: background-color 0.3s,
    color 0.3s;
}
.demo:hover {
    background-color: transparent; 
    color: black; 
}

.service-card{
    background: white;
    padding: 30px;
    align-items: center;
    text-align: center;
    transition: box-shadow 0.3s;
}
.service-card:hover {
    box-shadow: 0 8px 16px 0
    rgba(0,0,0,0.2);
}
.flights{
    background: white;
    border-radius: 36px;
    width: 190px; 
    margin: 0 auto;
    padding: 30px;
    align-items: center;
    text-align: center;
    
    transition: box-shadow 0.3s;
}
.flights:hover {
    box-shadow: 0 8px 16px 0
    rgba(0,0,0,0.2);
}
.destination-card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.06);
    overflow: hidden;
    width: 314px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}
.destination-card:hover {
 transform: scale(1.03);
}
.subscribe-text {
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 22px 50px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #ff946d 0%, #ff7d68 100%);
    cursor: pointer;
    font-family: "GoogleSans", Arial, sans-serif;
    transition: background-color 0.3s,
    color 0.3s;
}
.subscribe-text:hover {
    background-color: #CF400C;
    color: #ffffff;
}

