@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold/ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;

}
@font-face{
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}
@font-face {
    font-family: "Google Sans";
    src: url("../fonts/GoogleSans-Medium.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov-Italic.ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color:transparent; 
    margin-left: 122px;
    margin-right: 207px;
}


.body{
    width: 1440px; 
    margin: 0 auto; 
    background-image: url(../images/decoration.svg); 
    background-position: top right;
    background-size: 873px 694px; 
    background-repeat: no-repeat; 
    background-attachment:local; 
}
.nav{
    display: flex;
    align-items: center;
}

.menu-link{
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #212832;
    text-decoration: none;
    font-family: "Google Sans", Arial, sans-serif;
    margin-right: 50px;
}
.button{
    font-size: 17px;
    font-weight: 400;
    font-family: "Google Sans", Arial, sans-serif;
    line-height: 22px;
    background-color: transparent;
    color: #212832;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer; 
    margin-right: 42px;
}
.button-transparent{
    font-size: 17px;
    font-weight: 400;
    font-family: "Google Sans", Arial, sans-serif;
    line-height: 22px;
    background-color: transparent;
    color: #212832;
    border: 1px ;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.gal{
    margin-left: 5px;
    margin-bottom: 4px;
}


.hero{
    padding: 50px 0;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.hero-content{
    width: 50%;
}
.best-destinations{
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #DF6951;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    display: block;
}
.b-link{
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -4%;
    color: #181E4B;
    text-decoration: none;
    font-family: "Volkhov", Arial, sans-serif;
    margin-bottom: 30px;
    margin-top: 16px;
}
.decor-word{
    position: relative;
    display: inline-block;
} 
.decor-underline{
    position: absolute;
    left: -30px;
    bottom: 7px;
    width: 170%;
    height: 20px;
    pointer-events: none;
    z-index: -1;
}
.abzats{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 26px;
}
.findout{
    font-size: 18px;
    font-weight: 400;
    font-family: "Google Sans", Arial, sans-serif;
    line-height: 22px;
    background-color: #F1A501;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 20px 25px;
    cursor: pointer;
    white-space: nowrap;
}
.demo{
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    line-height: 22px;
    background-color: transparent;
    color: #686D77;
    border: 1px ;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap; 
}
.demo-krug{
    margin-right: 15px;
}
.buttons-container{
    display: flex;
    align-items: center;
    gap: 44px;
}
.hero-image{
    width: 40%;
    max-width: 100%;
    height: auto;
    display: flex;
    margin-right: 95px;
}


.section-services{
    padding: 60px 0;
    width: 1230px; 
    margin: 0 auto; 
    background-image: url(../images/decor_plusiki.png); 
    background-position: top right;
    background-size: 153px 166px; 
    background-repeat: no-repeat; 
    background-attachment:local;
    z-index: -1;
}
.services-container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
}
.services-header{
    text-align: center;
    margin-bottom: 60px;
}
.services{
    font-weight: 700;
    font-size: 50px;
    line-height: 22px;
    color: #14183E;
    text-decoration: none;
    font-family: "Volkhov", Arial, sans-serif;
}
.category{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
    list-style-type: none;
}
.service-card{
    background: white;
    padding: 30px;
    align-items: center;
    text-align: center;
}
.flights-card{
    width: 302px;
    margin: 0 auto;
    background-image: url(../images/red_kvadrat.png); 
    background-position: bottom left;
    background-size: 100px 100px; 
    background-repeat: no-repeat; 
    background-attachment:local;
    z-index: -1;
} 
.flights{
    background: white;
    border-radius: 36px;
    width: 190px; 
    margin: 0 auto;
    padding: 30px;
    align-items: center;
    text-align: center;
}
.category-servises{
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #1E1D4C;
    text-decoration: none;
    font-family: "Google Sans", Arial, sans-serif; 
    margin-bottom: 15px;
}
.service-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
}

.top-destinations-section{
    width: 1102px;
    margin: 0 auto;
}
.destination-container{
    max-width: 1102px;
    padding-right: 60px;
    background-image:url(../images/line.svg);
    background-position: bottom right;
    background-repeat: no-repeat; 
}
.top-selling{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
    margin-bottom: 8px;
}
.top-destination{
    font-weight: 700;
    font-size: 50px;
    line-height: 22px;
    color: #14183E;
    text-decoration: none;
    font-family: "Volkhov", Arial, sans-serif;
    text-align: center;
    margin-bottom: 60px;
}
.destination-grid{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
}
.destination-card{
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 16px rgba(0,0,0,0.06);
    overflow: hidden;
    width: 314px;
    display: flex;
    flex-direction: column;
    transition: box-shadow .2s;
}
.destination-info{
    padding: 22px 20px 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contry-name{
    font-weight: 400;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
    text-decoration: none;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
}
.price{
    padding-left: 103px;
}
.trip-period{
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
    text-decoration: none;
    margin-bottom: 42px;
    font-family: "Poppins", Arial, sans-serif;
}
.strel{
    margin-right: 15px;
}


.book-trip{
    width: 1114px;
    display: flex;
    gap: 117px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 185px;
}
.book-steps{
    width: 515px;
}
.easy{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;;
    text-align: left;
    margin: 0;
}
.values{
    list-style-type: none;
    width: 395px;
    padding: 0;
    margin: 0;
}
.punkt{
    display: flex;
    gap: 21px;
    margin-bottom: 48px;
}
.book{
    font-weight: 700;
    font-size: 50px;
    color: #14183E;
    text-decoration: none;
    font-family: "Volkhov", Arial, sans-serif;
    margin: 0;
    margin-bottom: 31px;
    padding-top: 16px;
}
.book-text{
    max-width: 511px;
}
.steps{
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding-bottom: 4px;
}
.steps-paragraf{
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
    text-decoration: none;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
}
.trip-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: 1.5%;
    color: #080809;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
}
.trip-dates-and-autor{
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.5%;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
}
.people-going{
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -2%;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    padding-left: 15px;
}
.heart{
    float: right;
}
.card-container{
    width: 486px;
    margin: 0px;
}
.trip-card{
    width: 370px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 26px;
    padding: 24px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 1;
}
.icon-card{
    display: flex;
    gap: 15px;
    margin: 25px 0;
}
.overlay-card{
    width: 263px;
    height: 100px;
    display: flex;
    gap: 12px;
    position: absolute;
    background: #FFFFFF;
    top: 250px;
    right: -100px;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    padding: 16px 20px;
    width: 263px;
    z-index: 2;
}
.ongoing{
    font-weight: 400;
    font-size: 14px;
    line-height: 124.5%;
    color: #84829A;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
}
.trip-to-rome{
    font-weight: 400;
    font-size: 18px;
    line-height: 124.5%;
    color: #080809;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding-top: 6px;
}
.protsents{
    font-weight: 400;
    font-size: 14px;
    line-height: 124.5%;
    color: #080809;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding-top: 14px;
}
.prots{
    color: #8A79DF;
}


.testimonials-section{
    background: white;
    width: 1168px;
    justify-content: center;
    display: flex;
    gap: 87px;
    margin: 0 auto;
    margin-bottom: 93px;
    margin-top: 180px;

}
.testimonials-tit{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #5E6282;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", Arial, sans-serif;;
    text-align: left;
    margin-bottom: 8px;
}
.what-say{
    font-weight: 700;
    font-size: 50px;
    color: #14183E;
    text-decoration: none;
    font-family: "Volkhov", Arial, sans-serif;
    margin: 0;
    margin-bottom: 82
    px;
    padding: 0;
}
.testimonials-container{
    position: relative;
    max-width: 671px;
    height: 356px;
}
.mike-otzyv-img{
    position: relative;
    z-index: 10;
}
.mike-otzyv{
    width: 470px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 28px 67px 34px 33px;
    box-shadow: 0 4px 24px rgba(89, 177, 230, 0.08);
    position: relative;
    z-index: 2;
    margin-top: -35px;
}
.mike-otzyv-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
}
.man-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;;
    text-align: left;
    margin-bottom: 5px;
}
.otzyv-city{
    font-weight: 400;
    font-size: 14px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    margin-top: 6px;
}
.otzyv-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    padding: 28px 34px;
    margin: 0;
    width: 503px;
    height: 232px;
    position: absolute;
    left: 45px;
    top: 75px;
}
.strelki{
    margin-top: 140px;
}

.logos{
    filter: grayscale(100%);
}
.logo-names{
    background: white;
    width: 1073px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-left: 186px;
    padding-right: 181px;
}
.expedia{
    filter: drop-shadow(0px 4px 18px rgba(0,0,0,0.18));
}

.subscribe-section{
    padding: 109px 133px 96px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/decor_plusiki.png); 
    background-position: bottom right;
    background-size: 153px 166px; 
    background-repeat: no-repeat; 
    background-attachment:local;
}
.subscribe-bg{
    position: relative;
    background:  url(../images/fon.png) no-repeat ;
    background-size: cover;
    padding: 79px 0;
    width: 1200px;
    box-sizing: border-box;
    overflow: hidden;
}
.subscribe-content{
    text-align: center;
}
.subscribe-title{
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 74px;
    padding-left: 100px;
}
.subscribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.subscribe-form input[type="email"]{
    padding: 25px 66px;
    border-radius: 12px;
    border: none;
    background: #fff;
    background-image: url(../images/pismo.svg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    width: 260px;
    outline: none;
}
.email-text{
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    font-family: "GoogleSans", Arial, sans-serif;
    color: #39425D;
}
.subscribe-text{
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 22px 50px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #ff946d 0%, #ff7d68 100%);
    cursor: pointer;
    font-family: "GoogleSans", Arial, sans-serif;
}  
.paper-plane-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}


.footer-logo{
    font-weight: 500;
    font-size: 44px;
    color: #181E4B;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 20px;
}
.footer-desc{
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
}
.footer-title{
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #080809;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 34px;
}
.footer-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 13px;
}
.footer-social{
    display: flex;
    gap: 15px;
    margin-bottom: 26px;
}
.footer-discover{
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    letter-spacing: 0.5%;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    margin-bottom: 16px;
}
.footer-stores{
    display: flex;
    gap: 7px;
}
.footer-copyright{
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #5E6282;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
    margin-top: 84px;
}
.footer{
  background: #fff;
  padding: 96px 0 79px 0;
  margin-left: 186px;
  margin-right: 194px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.footer-brand {
  max-width: 207px;
}
.footer-links {
  display: flex;
  gap: 81px;
}
.footer-links-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-apps{
    max-width: 214px;
}